// 색상
$primary-color: #42b883; // Vue 그린
$dark-bg: #1e1e1e; // 헤더 배경
$light-bg: #f4f4f4; // 푸터 배경
$text-color: #333; // 기본 텍스트
$white: #fff; // 흰색

// 폰트
$font-main: "Pretendard", "Noto Sans KR", sans-serif;

// // 레이아웃/공통 값
// $max-width: 1200px;
// $padding-main: 2rem;
// $border-radius: 4px;
// $transition-fast: 0.2s ease-in-out;
